<h1><%= @auction.title %> Auction</h1>
<p>Details: <%= @auction.details %></p>
<p>End date: <%= @auction.ends_on %></p>
<p>Reserve Price: <%= @auction.reserve_price %></p>
<hr>
<h1>Place a Bid!</h1>
<%= form_for [@auction, @bid] do |b| %>
  <%= b.label :amount %>
  <%= b.text_field :amount %>
  <%= b.submit %>
<% end %>
<hr>
<h1>All Bids So Far</h1>
<% @bids.each do |bid| %>
  <p><%= bid.amount %> - <%= bid.user.full_name %></p>
<% end %>
