<h1><%= @auction.title %> Auction</h1>
<div id="auction_details">
  <p>Details: <%= @auction.details %></p>
  <p>End date: <%= @auction.ends_on %></p>
  <p>Reserve Price: <%= @auction.reserve_price %></p>
</div>
<hr>
<h1>Place a Bid!</h1>
<div id="bid_form">
  <%= render "/bids/form", bid: @bid %>
</div>
<hr>
<h1>All Bids So Far</h1>
<div id="auction_bids">
  <% @bids.each do |bid| %>
    <%= render "/bids/bids", bid: bid %>
  <% end %>
</div>
