<!DOCTYPE html>
<html>
<head>
  <title>Biddr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to "All Auctions", root_path %>
    <%= link_to "New Auction", new_auction_path %>
    <% if user_signed_in? %>
      <%= link_to "#{current_user.full_name}", user_path(current_user) %>
      <%= link_to "Log Out", session_path(current_user), method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_path %>
      <%= link_to "Sign in", new_session_path %>
    <% end %>
  </nav>
  <%#= flash || notice %>
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>
<%= yield %>

</body>
</html>
